* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.geist {
	font-family: "Geist", Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}


:root {
	--background-color: #171808;
	--card-background-color: #252526;
	--card-text-color: #ffffff;
	--heading-text-color: #e6e6e6;
	--text-color: #ffffff;
	--card-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}


.hello {
	font-weight: 800;
	text-align: center;
	font-size: 72px;
	color: var(--heading-text-color);
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
	width: 100%;
	height: 54px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-family: "Consolas", monospace;
}

section {
	padding: 20px;
	max-width: 1000px;
	margin: 0 auto;
}

h2 {
	font-weight: 500;
	font-size: 32px;
	margin-bottom: 10px;
	color: var(--heading-text-color);
}

section.top-section {
	padding: 0;
	max-width: 100%;
	position: relative;
}

.top-content {
	padding: 20px;
	position: relative;
	display: flex;
	min-height: 90vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background: linear-gradient(180deg, transparent, var(--background-color));
	z-index: 3;
}

section.top-section::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	background: fixed 0 0/20px 20px radial-gradient(#78909c 1px, transparent 0),
		fixed 10px 10px /20px 20px radial-gradient(#78909c 1px, transparent 0);
	transform: translateY(-20px);
	z-index: 2;
	top: 0;
	left: 0;
	animation: bg-scroll 0.92s linear infinite;
	z-index: 1;
}

@media (prefers-reduced-motion) {
	section.top-section::before {
		animation: none;
	}
}

@keyframes bg-scroll {
	100% {
		transform: translateY(0);
	}
}

.intro {
	padding: 20px;
	max-width: 800px;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.8;
}

.profile-buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.card-container {
	display: grid;
	grid-template: 1fr / repeat(auto-fill, minmax(250px, 1fr));
	justify-content: center;
	gap: 20px;
}

.card {
	height: 100%;
	background-color: #000000;
	box-shadow: var(--card-shadow);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: var(--card-text-color);
}

.card.blue {
	background-color: rgb(33, 33, 47);
}

.card.grey {
	background-color: rgb(34, 34, 34);
}

.card.dark-grey {
	background-color: #121212;
}

.card.blue-2 {
	background-color: #1f232d;
}

.card-image {
	width: 100%;
	height: auto;
	border-radius: 8px 8px 0 0;
}

.card-info {
	display: flex;
	flex-direction: row;
	justify-content: left;
	padding: 0 10px;
	align-items: center;
	gap: 10px;
}

.card-title {
	font-size: 36px;
	font-weight: 900;
	font-family: "Consolas", monospace;
}

.card-icon {
	width: 40px;
	height: 40px;
}

.card-actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 0 10px;
	padding-bottom: 10px;
	gap: 5px;
}

.button-link {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.1);
	color: var(--primary-text-color);
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 150ms;
	font-weight: bold;
	border: 2px solid rgba(255, 255, 255, 0.3);
	box-shadow: var(--card-shadow);
}
.button-link:hover {
	border-color: rgba(255, 255, 255, 0.6);
}
.button-link:active {
	border-color: rgba(255, 255, 255, 1);
}

.button-link img {
	width: auto;
	height: 24px;
}
