---
title: LazyGuy-_-'s Blog
description: A personal blog about technology, programming, and life.
author: LazyGuy-_-
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% if preview %}
		<meta property="og:image" content="{{ preview | url }}" />
		<meta name="twitter:image" content="{{ preview | url }}" />
		{% endif %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/blog.css" />
		<link rel="shortcut icon" href="/favicon.png" type="image/png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="/css/prism-vs.css">
		<link rel="stylesheet" href="/css/blog.css">
		<style>
			
		</style>
	</head>
	<body>
		<header>
			<div id="header-left">
				<a href="/" class="button-link">
					<img src="/favicon.png" alt="LazyGuy-_-'s Logo" width="24" height="24" />
				</a>
				<a href="/blog" class="button-link"> Blog </a>
				<a href="/" class="button-link"> My Works </a>
			</div>
			<a href="https://github.com/lazy-guy" class="button-link" target="_blank">
				<img src="/imgs/GitHub-Mark-64px.png" width="230" height="225" alt="GitHub Icon" />
			</a>
		</header>
		<main>
			{{ content | safe }}
		</main>
		<footer>
			<div>
				LazyGuy-_-'s Blog
			</div>
			<div>
				Source code available on
				<a href="https://github.com/lazy-guy/lazy-guy.github.io" class="link" target="_blank">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						height="24px"
						viewBox="0 -960 960 960"
						width="24px"
						fill="#000000"
					>
						<path
							d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
						/>
					</svg>
					GitHub
				</a>
			</div>
			<div>
				Want to hire me? Reach out to me on
				<a href="https://www.linkedin.com/in/madhursaini" class="link" target="_blank">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						height="24px"
						viewBox="0 -960 960 960"
						width="24px"
						fill="#000000"
					>
						<path
							d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
						/>
					</svg>
					LinkedIn
				</a>
				or
				<a href="mailto:lazyguy-_-@outlook.com" class="link" target="_blank">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						height="24px"
						viewBox="0 -960 960 960"
						width="24px"
						fill="#000000"
					>
						<path
							d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
						/>
					</svg>
					Email
				</a>
			</div>
		</footer>
	</body>
</html>
