---
title: LazyGuy-_-'s Blog
description: A personal blog about technology, programming, and life.
author: LazyGuy-_-
blogpreview: https://lazy-guy.github.io/imgs/blog.png
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% if preview %}
		<meta property="og:image" content="{{ preview | url }}" />
		<meta name="twitter:image" content="{{ preview | url }}" />
		{% else %}
		<meta property="og:image" content="{{ blogpreview | url }}" />
		<meta name="twitter:image" content="{{ blogpreview | url }}" />
		{% endif %}
		{% if description %}
		<meta name="description" content="{{ description }}" />
		{% else %}
		<meta name="description" content="A personal blog about technology." />
		{% endif %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/blog.css" />
		<link rel="shortcut icon" href="/favicon.png" type="image/png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="/css/prism-vs.css">
		<link rel="stylesheet" href="/css/blog.css">
		<style>
			
		</style>
	</head>
	<body>
		<header>
			<div id="header-left">
				<a href="/" class="button-link">
					<img src="/favicon.png" alt="LazyGuy-_-'s Logo" width="24" height="24" />
				</a>
				<a href="/blog" class="button-link"> Blog </a>
				<a href="/" class="button-link"> My Works </a>
			</div>
			<a href="https://github.com/lazy-guy" class="button-link" target="_blank">
				<img src="/imgs/GitHub-Mark-64px.png" width="230" height="225" alt="GitHub Icon" />
			</a>
		</header>
		<main>
			{{ content | safe }}
		</main>
		<footer>
			<div>
				LazyGuy-_-'s Blog
			</div>
			<div>
				Source code available on
				<a href="https://github.com/lazy-guy/lazy-guy.github.io" class="link" target="_blank">
					GitHub
				</a>
			</div>
			<div>
				Want to hire me? Reach out to me on
				<a href="https://www.linkedin.com/in/madhursaini" class="link" target="_blank">
					LinkedIn
				</a>
				or
				<a href="mailto:lazyguy-_-@outlook.com" class="link" target="_blank">
					Email
				</a>
			</div>
			<div>
				All of my profiles:
				<a href="https://www.linkedin.com/in/madhursaini" class="link" target="_blank">
					LinkedIn
				</a>
				<a href="https://github.com/lazy-guy/" class="link" target="_blank">
					GitHub
				</a>
				<a href="https://leetcode.com/u/lazyguy-_-/" class="link" target="_blank">
					LeetCode
				</a>
				<a href="https://monkeytype.com/profile/lazyguy-_-" class="link" target="_blank">
					Monkeytype
				</a>
				<a href="https://huggingface.co/lazy-guy12" class="link" target="_blank">
					Hugging Face
				</a>
			</div>
		<div id="progress-bar">
		</div>
		</footer>
	</body>
</html>
